include README
include README.txt

include java/metadata-${metadata.version}-jar-with-dependencies.jar
include share/vm/schema.one
include share/template/manifest.xml.tpl
include conf/stratuslab-user.cfg.ref
include windows/stratus-attach-volume.bat
include windows/stratus-build-metadata.bat
include windows/stratus-connect-instance.bat
include windows/stratus-copy-config.bat
include windows/stratus-create-image.bat
include windows/stratus-create-volume.bat
include windows/stratus-delete-volume.bat
include windows/stratus-deprecate-metadata.bat
include windows/stratus-describe-instance.bat
include windows/stratus-describe-volumes.bat
include windows/stratus-detach-volume.bat
include windows/stratus-hash-password.bat
include windows/stratus-kill-instance.bat
include windows/stratus-prepare-context.bat
include windows/stratus-run-cluster.bat
include windows/stratus-run-instance.bat
include windows/stratus-shutdown-instance.bat
include windows/stratus-sign-metadata.bat
include windows/stratus-update-volume.bat
include windows/stratus-upload-image.bat
include windows/stratus-upload-metadata.bat
include windows/stratus-validate-metadata.bat
